/* my styles go here */
textcentercatversion{
    color: white;
    horiz-align: center;
    font-weight: bold;
    font-size:8vw;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:30%;
    background-color: rgb(60,20,96);
}

body {
    background: rgb(60,20,96);
    background-image: url("../img/cupcakebackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    height: 71%;
}

